// application scripts
script(src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.1.5/angular.js")
// TODO use cdnjs.com once they serve marked
script(src="//raw.github.com/chjj/marked/master/lib/marked.js")
script(src="scripts/app.js")
script(src="scripts/services/reader/_factory.js")
script(src="scripts/services/reader/markdown.js")
script(src="scripts/services/reader/json.js")
script(src="scripts/controllers.js")
