// application scripts
script(src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.js")
script(src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.js")
script(src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-route.js")
script(src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-sanitize.js")
script(src="//cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.js")
script(src="scripts/app.js")
script(src="scripts/services/fetch.js")
script(src="scripts/services/poems.js")
script(src="scripts/services/reader/_factory.js")
script(src="scripts/services/reader/markdown.js")
script(src="scripts/services/reader/json.js")
script(src="scripts/services/transformer.js")
script(src="scripts/controllers.js")
