doctype html
html(ng-app="sideBySide")
	head
		title Side By Side viewer
		meta(charset="utf-8")
		link(rel="stylesheet", type="text/css", href="//fonts.googleapis.com/css?family=Noticia+Text:400,700,400italic,700italic")
		link(rel="stylesheet", type="text/css", href="bower_components/fontawesome/css/font-awesome.min.css")
		link(rel="stylesheet", type="text/css", href="bower_components/pure/pure-min.css")
		link(rel="stylesheet", type="text/css", href="styles/style.css")
		script(src="min/scripts.js")

	include includes/body.html.jade
