doctype html
html(ng-app="sideBySide")
	head
		title Side By Side viewer
		meta(charset="utf-8")
		link(rel="stylesheet", type="text/css", href="//fonts.googleapis.com/css?family=Noticia+Text:400,700,400italic,700italic")
		link(rel="stylesheet", type="text/css", href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/3.0.2/css/font-awesome.min.css")
		link(rel="stylesheet", type="text/css", href="//yui.yahooapis.com/pure/0.2.0/pure-min.css")
		link(rel="stylesheet", type="text/css", href="styles/style.css")
		include _scripts.html.jade

	body(ng-controller="AppController")
		noscript Well, terribly sorry but you do need to have Javascript enabled.

		// top menu
		.pure-menu.pure-menu-open.pure-menu-horizontal.menu-main
			ul
				li
					a(href="#{{config}}") Home
				li
					a(href="#{{config}}/pick") Pick
				li
					a(href="#") Help
				li
					a(href="#") About

		div(ng-view class="cols-{{columns}}")
