/* Alegreya */
@font-face {
  font-family: 'Alegreya'; font-style: normal; font-weight: 400; font-display: swap;
  src: url('../fonts/alegreya-v29-all-400.woff2') format('woff2');
}
@font-face {
  font-family: 'Alegreya'; font-style: italic; font-weight: 400; font-display: swap;
  src: url('../fonts/alegreya-v29-all-400i.woff2') format('woff2');
}
@font-face {
  font-family: 'Alegreya'; font-style: normal; font-weight: 700; font-display: swap;
  src: url('../fonts/alegreya-v29-all-700.woff2') format('woff2');
}
