body(ng-controller="AppController")
	noscript Well, terribly sorry but you do need to have Javascript enabled.

	// top menu
	.pure-menu.pure-menu-open.pure-menu-horizontal.menu-main
		ul
			li
				a(href="#{{base}}") Home
			li
				a(href="#{{base}}/pick") Pick
			li
				a(href="#") Help
			li
				a(href="#") About

	div(ng-view class="cols-{{columns}}")
