:markdown
	This project runs on free software, [grab the source
	code](https://github.com/tasuk/side-by-side)!

	*Note: This is very much work in progress!*

	Created by [Vít Brunner](http://tasuki.org).
