:markdown
	### Side By Side viewer

	Click on the bottom bar to pick which translations you want to see.

	Share the url – the currently visible translations and the section are
	encoded in the url.

	---

	This project runs on free software, [grab the source
	code](https://github.com/tasuki/side-by-side)!

	*This used to be work in progress. Now it's just what it is.*

	Created by [Vít Brunner](http://tasuki.org).
