// application scripts
script(src="bower_components/lodash/dist/lodash.js")
script(src="bower_components/angular/angular.js")
script(src="bower_components/angular-route/angular-route.js")
script(src="bower_components/angular-sanitize/angular-sanitize.js")
script(src="bower_components/marked/lib/marked.js")
script(src="scripts/app.js")
script(src="scripts/services/fetch.js")
script(src="scripts/services/poems.js")
script(src="scripts/services/reader/_factory.js")
script(src="scripts/services/reader/markdown.js")
script(src="scripts/services/reader/json.js")
script(src="scripts/services/transformer.js")
script(src="scripts/controllers.js")
