body
	font-family: "Titillium Web", sans-serif

.version
	vertical-align: top
	display: inline-block
	letter-spacing: normal
	word-spacing: normal

	.section
		color: #FFF
		background-color: #999
		padding: 0px 5px
		border-radius: 5px
		position: absolute
		line-height: 20px
		left: -10px
		top: -5px

	.version-inner
		background-color: #F6F6F6
		position: relative
		padding: 10px 10px 5px 10px

max_columns = 6
for columns in 1 .. max_columns
	.cols-{columns}
		.version
			width: (100 / columns)%

			.version-outer
				padding: 5px (100 / (5 * columns))%
