!!! 5
%html{"ng-app" => "sideBySide"}
    %head
        %title Side By Side viewer
        %meta{:charset => "utf-8"}
        #{stylesheet_link_tag "//fonts.googleapis.com/css?family=Titillium+Web:400,700,400italic,700italic"}
        #{stylesheet_link_tag "style"}
        = render_partial 'scripts'

    %body
        %div{:class => "container", "ng-controller" => "comparisonController"}
            %div{:class => "verse", "ng-repeat" => "verse in verses"}
                %div{:class => "section", "ng-bind" => "verse.section"}
                %div{:class => "version", "ng-repeat" => "version in verse.versions"} {{ version }}
