doctype html
html
	head
		title Side By Side test suite
		meta(charset="utf-8")

		for script in scripts
			script(src="#{script}")

		// test scripts
		link(rel="stylesheet", type="text/css", href="bower_components/qunit/qunit/qunit.css")
		script(src="bower_components/qunit/qunit/qunit.js")
		script(src="tests/_setup.js")
		script(src="tests/services/reader/_factory.js")
		script(src="tests/services/reader/markdown.js")
		script(src="tests/services/reader/json.js")
		script(src="tests/services/transformer.js")
		script(src="tests/services/poems.js")

	body
		div(id="qunit")
