doctype html
html
	head
		title Side By Side test suite
		meta(charset="utf-8")

		if min == true
			link(rel="stylesheet", type="text/css", href="test_styles.css")
			script(src="scripts.js")
			script(src="test_scripts.js")
		else
			for script in scripts
				script(src="#{script}")

			for script in test_scripts
				script(src="#{script}")

			for style in test_styles
				link(rel="stylesheet", type="text/css", href="#{style}")

	body
		div(id="qunit")
